.header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  border-bottom: 1px solid #d4d4d4;
  z-index: 30;
  align-items: center;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px);
}
.header-layout {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

/* 헤더 좌측 */
.header-left {
  display: flex;
  align-items: center;
}
.header-left .header-logo {
  width: 152px;
  height: 32px;
  padding-right: 40px;
}
.header-left .header-logo a {
  display: inline-block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.header-left .header-logo img {
  width: 100%;
  height: 100%;
}
.header-menu-wrap {
  display: flex;
  width: 477px;
  align-items: center;
  justify-content: space-between;
}
.header-menu-wrap .header-menu {
}
.header-menu-wrap:first-child {
  align-content: center;
}
.header-menu a img {
  margin-right: 5px;
}
.header-menu-wrap .header-menu a {
  color: #333;
  font-weight: 600;
  font-size: 15px;
}
.header-menu-wrap .header-menu .header-menu-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* 헤더 우측 */
.header-right {
  display: flex;
  width: 262px;
  align-items: center;
  justify-content: space-between;
}
.header-right .search {
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
}
.header-right .search img {
  width: 24px;
  height: 24px;
}
.header-right .private-box {
  display: flex;
  justify-content: left;
  gap: 10px;
}
.header-right .private-box .login {
  display: inline-block;
  width: 113px;
  height: 32px;
  border: 1px solid #d4d4d4;
  color: rgb(0, 102, 255);
  font-size: 13px;
  text-align: center;
  border-radius: 8px;
  align-content: center;
}
.login:hover {
  background-color: rgb(230, 230, 230);
}
.header-right .private-box .company-service {
  display: inline-block;
  width: 88px;
  border: 1px solid #d4d4d4;
  color: rgb(23, 23, 25);
  font-size: 13px;
  text-align: center;
  border-radius: 8px;
  align-content: center;
}
.company-service:hover {
  background-color: rgb(230, 230, 230);
}
