/* 역세권 포지션 */
.station-position {
  width: 100%;
}
.box-top-right {
  display: flex;
  align-items: center;
}
.select-station {
  position: relative;
}
.selected-position {
  height: 32px;
  padding: 7px 9px 7px 11px;
  border: 1px solid rgb(212, 212, 212);
  color: rgb(23, 23, 25);
  background-color: white;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 500;
  color: rgb(23, 23, 25);
  transition: all 0.5s;
}
.selected-position:hover {
  background-color: rgb(230, 230, 230);
}
.station-list {
  display: flex;
  position: absolute;
  top: 42px;
  left: 0;
  border-radius: 16px;
  width: 148px;
  height: 436px;
  border: 1px solid rgb(199, 199, 199);
  background-color: #fff;
  padding: 8px;
  flex-direction: column;
  justify-content: space-between;
  gap: 4px;
  align-items: left;
  z-index: 2;
  display: none;
}
.station-list-active {
  display: block;
}
.station-active::after {
  content: "✔";
  position: absolute;
  right: 20px;
}
.station {
  display: flex;
  height: 40px;
  width: 100%;
  font-size: 16px;
  border-radius: 16px;
  align-items: center;
  padding-left: 10px;
  transition: all 0.3s;
  cursor: pointer;
}
.station-list li:hover {
  background-color: rgb(230, 230, 230);
}
.station-active {
  font-weight: 600;
  color: rgb(0, 102, 255);
  display: flex;
  height: 40px;
  width: 100%;
  font-size: 16px;
  border-radius: 16px;
  align-items: center;
  padding-left: 10px;
  transition: all 0.3s;
  cursor: pointer;
}
/* 목록 */
.station-constainer-set {
  width: 100%;
  height: 330px;
}
.station-container {
  display: flex;
  height: 100%;
  align-items: center;
}
.statinon-box {
  display: flex;
  height: 100%;
}
.station-thum {
  width: 120px;
  height: 90px;
  background-color: lightgray;
  border-radius: 12px;
  overflow: hidden;
  margin-right: 15px;
}
.station-thum .station-img {
  width: 100%;
  height: 100%;
}
.station-thum:hover .station-img img {
  transform: scale(1.05, 1.05);
}

.station-thum .station-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s;
}
.station-info {
  display: flex;
  width: 343px;
  height: 100%;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 8px;
  margin: auto 0;
}
.station-info .station-job-name {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 2px;
}
.station-info .station-position-company {
  color: rgba(55, 56, 60, 0.608);
  font-weight: 500;
  font-size: 13px;
}
.station-info .station-position-etc {
  color: rgba(55, 56, 60, 0.608);
  font-weight: 500;
  font-size: 13px;
}
.station-bookmark {
  opacity: 0;
  font-size: 20px;
  color: rgb(192, 192, 192);
  cursor: pointer;
}
.station-container:hover .station-bookmark {
  opacity: 1;
}
.station-slide {
  overflow: visible;
}
.station-slide .prev-button {
  display: flex;
  width: 31px;
  height: 31px;
  color: rgb(212, 212, 212);
  background-color: white;
  border: 1px solid rgb(212, 212, 212);
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  overflow: hidden;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 31px;
  top: -46px;
  z-index: 99;
}
.station-slide .next-button {
  display: flex;
  width: 31px;
  height: 31px;
  background-color: white;
  color: rgb(51, 51, 51);
  border: 1px solid rgb(212, 212, 212);
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  top: -46px;
  z-index: 99;
}
