/* 역세권 포지션 */
.station-position {
  width: 100%;
}
.box-top-right {
  display: flex;
  align-items: center;
}
.gangnam {
  padding: 7px 8px 7px 12px;
  border: 1px solid rgb(212, 212, 212);
  color: rgb(23, 23, 25);
  background-color: white;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 700;
}
.gangnam span {
  color: rgb(23, 23, 25);
  transition: all 0.5s;
}
.gangnam:hover {
  background-color: rgb(230, 230, 230);
}
.station-constainer-set {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, calc((100% - 20px) / 2));
  grid-template-rows: repeat(3, calc((100%-20px) / 3));
  gap: 20px;
}
.station-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}
.statinon-box {
  display: flex;
  height: 100%;
}
.station-thum {
  width: 120px;
  height: 90px;
  background-color: lightgray;
  border-radius: 12px;
  overflow: hidden;
  margin-right: 15px;
}
.station-thum .station-img {
  width: 100%;
  height: 100%;
}
.station-thum:hover .station-img img {
  transform: scale(1.05, 1.05);
}

.station-thum .station-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s;
}
.station-info {
  width: 343px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 8px;
  margin: auto 0;
}
.station-info .station-job-name {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 2px;
}
.station-info .station-position-company {
  color: rgba(55, 56, 60, 0.608);
  font-weight: 500;
  font-size: 13px;
}
.station-info .station-position-etc {
  color: rgba(55, 56, 60, 0.608);
  font-weight: 500;
  font-size: 13px;
}
/* .station-position .station-slide {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.station-position-container-set {
  width: 100%;
}
.station-position .station-position-container {
  text-align: center;
  font-size: 18px;
  background: skyblue;
  width: calc((100%) / 2);
  height: 90px;
  display: grid;
  grid-template-columns: repeat(2, calc(100% / 2));
  grid-template-rows: repeat(3, calc(100% / 3));
}

.station-position-wrap {
  display: flex;
  cursor: pointer;
  align-items: center;
  gap: 15px;
}
.station-position-wrap .station-position-img {
  width: 120px;
  height: 90px;
  background-color: lightgray;
  border-radius: 12px;
  overflow: hidden;
}
.station-position-wrap .station-position-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s;
}

.station-bookmark {
  opacity: 0;
  font-size: 20px;
  color: rgb(192, 192, 192);
  cursor: pointer;
}
.station-position-container:hover .station-bookmark {
  opacity: 1;
}
.station-position-wrap:hover .station-position-img img {
  transform: scale(1.05, 1.05);
}
.station-position-wrap .station-position-info-box {
  display: flex;
  width: 343px;
  height: 66px;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}
.station-position-info-box .station-position-job {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 2px;
}
.station-position-company {
  color: rgba(55, 56, 60, 0.608);
  font-weight: 500;
  font-size: 13px;
}
.station-position-etc {
  color: rgba(55, 56, 60, 0.608);
  font-weight: 500;
  font-size: 13px;
} */
