.main {
}
.main-layout {
  padding-top: 100px;
  padding-bottom: 160px;
  /* display: flex;
  flex-direction: column;
  column-gap: 64px; */
}

/* 메인 상단 */
.main-tip {
}

/* 메인 내용 */
.main-content {
  display: flex;
  flex-direction: column;
  gap: 64px;
}
