.main {
}
.main-layout {
  padding-top: 36px;
  padding-bottom: 160px;
  /* display: flex;
  flex-direction: column;
  column-gap: 64px; */
}

/* 메인 상단 */
.main-top {
}
/* 팁 */
.main-top .tip {
  display: flex;
  width: 500px;
  height: 58px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  background-color: rgba(111, 114, 123, 0.04);
  border-radius: 16px;
}
.main-top .tip .tip-img {
  width: 30px;
  height: 30px;
  background-color: gray;
  border-radius: 50px;
  margin-right: 10px;
}
.main-top .tip .tip-img img {
}
.main-top .tip .tip-sentence {
}
.main-top .tip .tip-sentence span {
  color: #0066ff;
  font-weight: 600;
  font-size: 15px;
}
/* 카테고리 */
.main-top .category-wrap {
  display: flex;
  height: 100px;
  padding: 24px 8px 8px 12px;
  align-content: center; /*이게 적용이 안되고 있는데 왜 센터에 있지..*/
  justify-items: center;
  margin-bottom: 40px;
}
.main-top .category-wrap .category {
  width: 116px;
  height: 94px;
  gap: 8px; /*display: block 때문에 적용이 안된다고 뜨는데 a를 flex로 바꿔야하나*/
}

.main-top .category-wrap .category a {
  display: block;
  align-content: center;
  justify-items: center;
  column-gap: 8px;
  cursor: pointer;
}

.main-top .category-wrap .category .cate-img {
  width: 56px;
  height: 56px;
}
.main-top .category-wrap .category .cate-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-top .category-wrap .category .cate-title {
  color: rgba(55, 56, 60, 0.61);
  font-weight: 500;
  font-size: 13px;
}

/* 메인 내용 */
.main-content {
  display: flex;
  flex-direction: column;
  gap: 64px;
}
/* 인기 구직 */
.popular-job-box {
  height: 274.5px;
}
.box-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.box-top .box-title {
  font-weight: 600;
  font-size: 22px;
  margin-right: 10px;
}
.box-top .button-box {
  display: flex;
  width: 64px;
  height: 32px;
}
.button-box .left-button {
  width: 31px;
  height: 30px;
}
.button-box .right-button {
  width: 31px;
  height: 30px;
}
.box-container {
  display: flex;
  height: 100%;
  justify-content: space-between;
}

.box-content-wrap {
  display: block;

  width: 250px;
  height: 100%;
  cursor: pointer;
}
.box-thum {
  position: relative;
  width: 100%;
  height: 167.5px;
  background-color: lightgray;
  margin-bottom: 12px;
  border-radius: 12px;
  overflow: hidden;
}
.box-thum-img {
  width: 100%;
  height: 100%;
}
.box-thum-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box-thum .box-info-top {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 15%;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  background-color: gray;
}
.box-content-wrap .box-info-top .job-pass {
  color: #fff;
  font-weight: 600;
  font-size: 14px;
}
.box-content-wrap .box-info-top .bookmark {
  color: #fff;
  font-weight: 600;
  font-size: 14px;
}

.box-content-wrap .box-info-bottom {
}
.box-content-wrap .box-info-bottom .job-name {
  color: rgb(51, 51, 51);
  font-weight: 600;
  font-size: 16px;
}
.box-content-wrap .box-info-bottom .job-company {
  color: rgba(55, 56, 60, 0.61);
  font-weight: 500;
  font-size: 13px;
}
.box-content-wrap .box-info-bottom .job-etc {
  color: rgba(55, 56, 60, 0.61);
  font-weight: 500;
  font-size: 13px;
}

/* 카드 뉴스 */
.card-news {
}
.card-news-container-set {
  display: flex;
  width: 2460px;
  gap: 20px;
}
.card-news-container {
  display: flex;
  width: 436px;
  height: 302px;
  cursor: pointer;
}

.card-news-wrap {
  position: relative;
  width: 436px;
  height: 290px;
  border-radius: 12px;
  background-color: lightgray;
  overflow: hidden;
}
.card-news-wrap .card-news-img {
  width: 100%;
  height: 100%;
}
.card-news-wrap .card-news-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-news-wrap .card-news-info {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 146px;
  background-color: gray;
  gap: 5px;
  padding: 80px 0 25px 25px;
}
.card-news-wrap .card-news-info .card-news-title {
  color: #fff;
  font-weight: 600;
  font-size: 22px;
}
.card-news-wrap .card-news-info .card-news {
  color: #fff;
  font-weight: 500;
  font-size: 15px;
}

/* 테마별 회사/포지션 */
.theme-position {
  height: 312px;
}
.theme-position-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.theme-position-wrap {
  position: relative;
  width: 340px;
  height: 260px;
  border: 1px solid rgba(111, 114, 123, 0.16);
  border-radius: 12px;
  background-color: lightgray;
  overflow: hidden;
}
.theme-position-img {
  width: 100%;
  height: 100%;
}
.theme-position-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.theme-position-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 86px;
  padding: 20px;
  background-color: #fff;
}
.theme-position-info .theme-position-title {
  color: rgb(23, 23, 25);
  font-weight: 600;
  font-size: 17px;
}
.theme-position-info .theme-position-company {
  color: rgba(55, 56, 60, 0.61);
  font-weight: 600;
  font-size: 17px;
}

/* 역세권 포지션 */
.station-position-box {
}
.box-top-right {
  display: flex;
  align-items: center;
}
.gangnam {
  padding: 7px 8px 7px 12px;
  border: 1px solid rgb(23, 23, 25);
  color: rgb(23, 23, 25);
  border-radius: 10px;
}
.station-position-container-set {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.station-position-container {
  display: flex;
  justify-content: space-between;
}

.station-position-wrap {
  display: flex;
  width: 515px;
  align-items: center;
  justify-content: space-between;
}
.station-position-wrap .station-position-img {
  width: 120px;
  height: 90px;
  background-color: lightgray;
  border-radius: 12px;
  overflow: hidden;
}
.station-position-img img {
  width: 100%;
  height: 100%;
}
.station-position-wrap .station-position-info-box {
  display: flex;
  width: 343px;
  height: 66px;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}
.station-position-info-box .station-position-job {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 2px;
}
.station-position-info .station-position-info {
}
.station-position-company {
  color: rgba(55, 56, 60, 0.608);
  font-weight: 500;
  font-size: 13px;
}
.station-position-etc {
  color: rgba(55, 56, 60, 0.608);
  font-weight: 500;
  font-size: 13px;
}
/*.station-bookmark {
  display: block;
}*/

/* 요즘 뜨는 포지션(인기 구직과 동일 레이아웃) */
